 configuration {

    modi: "drun,run,window,ssh"; // Set available modes
    font: "JetBrains Mono 10"; // Set your preferred font
    terminal: "gnome-terminal"; // Set your terminal application
    show-icons: true; // Enable icons
}

// Link to the theme file
@theme "~/.config/rofi/theme.rasi"
